.main
  .wrapper.section.center
    = link_to root_path do
      %h3.header.center Beacon
    %h5.header.center Login to your Dashboard
    = form_for :account, url: login_path do |f|
      .input-field
        = f.text_field :email
        %label{for: 'account_email'} Email
      .input-field
        = f.password_field :password
        %label{for: 'account_password'} Password
      = f.submit 'Submit', class: 'waves-effect waves-light btn'
