#modal.modal
  .modal-content
    %h4.header Register a new item
    = form_for :item, url:create_item_path do |f|
      .input-field
        = f.text_field :name
        %label{for: 'item_name'} Name
      = f.submit 'Submit', class: 'waves-effect waves-light btn'

.container
  %h3.header Inventory Dashboard for <span class="underline">#{current_account.name}</span>
  .items.row
    .col.l10.m8.s4
      %h4.header Your Items
    .col.l1.m2.s4.right-align
      %a.waves-effect.waves-light.btn.right-align{href: '#modal'} New
    .col.l1.m2.s4.right.align
      %a.waves-effect.waves-light.btn.right-align{href: '/scan'} Scan
  .row
    - @items.each do |item|
      .col.s12.l4.m6
        .card
          .card-content
            %span.card-title= item.name
            - if item.employee_name.nil?
              %p Not checked out
            - elsif item.updated_at > 10.hours
              %p{style:'color: red'}
                Checked out by #{item.employee_name} for #{time_ago_in_words(item.updated_at)}.
            - else
              %p Checked out by #{item.employee_name} for #{time_ago_in_words(item.updated_at)}.
          .card-action
            = link_to item_qr_path(item), target: '_blank' do
              .btn View QR code
