.main
  .wrapper.section.center
    %h3.header.center Beacon
    %h5.header.center Make an Account
    = form_for :account, url: '/account' do |f|
      .input-field
        = f.text_field :email
        %label{for: 'account_email'} Email
      - if @account_name
        .input-field
          = f.text_field :name, value: @account_name
          %label.active{for: 'account_name'} Company Name
      - else
        .input-field
          = f.text_field :name
          %label{for: 'account_name'} Company Name
      .input-field
        = f.password_field :password
        %label{for: 'account_password'} Password
      .input-field
        = f.password_field :password_confirmation
        %label{for: 'account_password_confirmation'} Confirm Password
      = f.submit 'Get Started', class: 'waves-effect waves-light btn'
